<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ markdownify .Title }}</title>

	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/equanimity.css">
	<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Source+Code+Pro'>

	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-61163587-1', 'auto');
	ga('send', 'pageview');
	</script>
</head>

<body>
	<!--[if lte ie 9]>
	<div id="ie-message">you are using an outdated browser. please, <a href="//browsehappy.com" class="important">update it</a>!</div>
	<![endif]-->
