<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ markdownify .Title }}</title>

	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/equanimity.css">
	<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Source+Code+Pro'>

	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
	<!--[if lte ie 9]>
	<div id="ie-message">you are using an outdated browser. please, <a href="//browsehappy.com" class="important">update it</a>!</div>
	<![endif]-->
