/* Reset */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, 
sub, sup, ol, ul, li, table, thead, tbody, tfoot, tr, th, td, hr,
article, figure, figcaption, nav, section, summary {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0
}

/* Fonts */

@font-face {
  font-family: 'Concourse 3';
  src: url('/fonts/concourse_3_regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Concourse 3';
  src: url('/fonts/concourse_3_bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Equity B';
  src: url('/fonts/equity_b_regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Equity B';
  src: url('/fonts/equity_b_italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Equity B';
  src: url('/fonts/equity_b_bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Equity B Caps';
  src: url('/fonts/equity_b_caps_regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/fonts/triplicate_a_regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* General (previously shared with rest of website) */

body {
  font: 24px/1.4 'Equity B', Georgia, serif;
  padding: 0 10px;
  max-width: 720px;
  margin: 0 auto;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px dotted #999;
}

a:hover, a:active {
  color: #b00;
  border-bottom: 1px solid #b00;
}

p { margin-bottom: 1.2em; }
strong { font-weight: bold }
em { font-style: italic; }

.katex {
  /* KaTeX CSS uses 1.21em, which is too big beside 1em Equity Text. */
  font-size: 1.08em;
}

blockquote {
  font-family: 'Concourse 3';
  background-color: #f6f6f6;
  margin-bottom: 1.2em;
  padding: 0.75em 1em;
}

blockquote p:last-child {
  margin-bottom: 0;
}

blockquote em {
  font-style: normal;
  font-weight: bold;
}

figure {
  margin: 2.0em 0;
}

figure img, figure svg {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 600px;
  display: block;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  font: 20px 'Concourse 3', Helvetica, Arial, sans-serif;
  margin: 1em 0;
}

sup {
  font-size: 75%;
  position: relative;
  bottom: 0.5em;
}

sub {
  font-size: 75%;
  position: relative;
  top: 0.25em;
}

del {
  text-decoration: line-through;
}

ul, ol, dl { margin-bottom: 1.2em; }

ul > li {
  list-style-type: disc;
}

ol > li {
  list-style-type: decimal;
}

table {
  margin: 0 auto 1.8em;
  border-collapse: collapse;
  border-spacing: 0;
}

tr {
  border-bottom: 1px solid #ccc;
}

td, th {
  padding: 5px 20px;
}

th {
  font-family: 'Equity B Caps';
  /* The Markdown syntax for left-aligning also left aligns the <th> with an
  inline style attribute, but we want these to always be centred. */
  text-align: center !important;
  text-transform: lowercase;
}

hr {
  border: 0;
  border-bottom: 3px double #ccc;
  margin: 2em auto;
}

.page-nav {
  text-align: center;
  font-family: 'Equity B Caps', Georgia, serif;
  text-transform: lowercase;
}

header .page-nav {
  border-bottom: 1px solid #ccc;
  margin-bottom: 60px;
  margin-top: 0px;
}

footer .page-nav {
  border-top: 1px solid #ccc;
  margin-top: 50px;
}

.page-nav ul {
  margin: 0px;
}

.page-nav li {
  display: inline-block;
  list-style-type: none;
  clear: none;
}

.page-nav a {
  display: block;
  padding: 10px 20px 0;
  height: 50px;
  color: #999;
  border-bottom: none;
}

.page-nav a:hover {
  color: #000;
}

.nav-newer { float: left; }
.nav-older { float: right; }
.nav-newer a { padding-left: 10px; }
.nav-older a { padding-right: 10px; }

.nav-home, .nav-toc { border-left: 1px solid #ccc; }
.nav-toc { border-right: 1px solid #ccc; }

.copyright {
  border-top: 1px solid #ccc;
  text-align: center;
  font-family: 'Equity B Caps', Georgia, serif;
  text-transform: lowercase;
  padding-top: 5px;
  margin-bottom: 10px;
}

.copyright p {
  margin: 0;
}

/* Blog-specific (originally equanimity.css) */

.no-ul, .no-ul:hover { border: none; }
.subtle { color: #888; }
.subtle:hover { color: #b00; }

code {
  font: 22px 'Source Code Pro', 'Courier New', monospace;
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
}

.verse {
  font-style: italic;
  margin-left: 2em;
}

.blog-title {
  font: 72px 'Equity B Caps', Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 40px 0 30px;
}

.post-title {
  font: bold 36px 'Concourse 3', Helvetica, Arial, sans-serif; 
  margin: 2px 0 15px;
}

.post-description {
  font: 28px 'Concourse 3', Helvetica, Arial, sans-serif; 
  color: #888;
  margin: 0 0 30px;
}

h2 {
  font: bold 28px 'Equity B', Helvetica, Arial, sans-serif;
  margin: 20px 0 10px;
}

.post-meta {
  font: 20px 'Equity B', Helvetica, Arial, sans-serif;
  color: #888;
}

.read-more-link {
  text-align: right;
  font: 22px 'Concourse 3', Helvetica, Arial, sans-serif;
}

.list-links {
  text-align: center;
  font: 28px 'Concourse 3', Helvetica, Arial, sans-serif;
  margin-bottom: 60px;
}

.list-links a {
  display: block;
  margin-bottom: 15px;
}

.summary {
  margin-bottom: 25px;
}

.summary p {
  margin-bottom: 15px;
}

.list-header {
  margin: 40px 0 30px;
}

.list-header a {
  font: 28px 'Concourse 3', Helvetica, Arial, sans-serif;
}

.list-header h1 {
  margin-top: 10px;
  font: 42px 'Equity B', Helvetica, Arial, sans-serif;
  font-style: italic;
  display: block;
}

.post-group h2 {
  font: bold 42px 'Concourse 3', Helvetica, Arial, sans-serif;
  margin: 30px 0 10px;
}

li.post-li {
  font: 26px 'Concourse 3', Helvetica, Arial, sans-serif;
}

.after-posts {
  margin-bottom: 60px;
}

.footnotes {
  font-size: 22px;
}

.footnotes code {
  font-size: 20px;
}

/* TODO: remove */
.footnotes p {
  margin: 0;
}

pre {
  margin: 28.8px -70px; /* 1.2 * 24px = 28.8px */
  background-color: #f6f6f6;
  padding: 0.75em 1em;
  line-height: 16px;
  font: 17px 'Source Code Pro', 'Courier New', monospace;
}

pre code {
  font: 17px 'Source Code Pro', 'Courier New', monospace;
}

@media only screen and (max-width: 870px) {
  pre {
    margin-left: 0;
    margin-right: 0;
    background: #fff;
  }
}

@media only screen and (max-width: 505px) {
  .nav-newer span { display: none; }
  .nav-older span { display: none; }
}

@media only screen and (max-width: 445px) {
  .nav-newer a { padding-right: 0; }
  .nav-older a { padding-left: 0; }
  /* Note: The ".page-nav" is necessary otherwise this has lower specificity
  than the ".page-nav li" rule. */
  .page-nav .nav-home { display: none; }
  .page-nav .nav-toc { border-left: 1px solid #ccc; }
}

/* Code highlighting */

.kw { color: #a626a4; }
.cn { color: #307a06; }
.co { color: #c0392b; }
.sp { color: #0060d5; }
.qs { color: #986801; }

/*
.op, .er { font-weight: bold; }  operators (assertion arrows), errors 
.cs { font-style: italic; }      console output 

.kw { color: #a626a4; }        keywords (special forms) 
.fu { color: #0060d5; }        functions 
.cn { color: #307a06; }        constants 
.at, .er { color: #c0392b; }   attention (comments, escapes), errors 
.qu { color: #986801; }        quoted 
.cs { color: #6d6d6d; }        console output 
.op { color: #888; }           operators (assertion arrows) 
*/

/* 
@media (prefers-color-scheme: dark) {
    .kw { color: #c678dd; }
    .fu { color: #61afef; }
    .cn { color: #98c379; }
    .at, .er { color: #e7727b; }
    .qu { color: #e5c07b; }
    .cs { color: #959595; }
    .op { color: #888; }
} */
