<h1 class="blog-title">
  {{ if home_url }}
  <a class="no-ul" href="{{ . }}">MK</a>
  {{ else }}
  MK
  {{ end }}
</h1>

<section>
{{ range posts }}
  <section class="summary">
    <span class="post-meta">{{ date }}</span>
    <h2 class="post-title"><a class="no-ul" href="{{ href }}">{{ title }}</a></h2>
    {{ summary }}
    <div class="read-more-link">
      <a class="no-ul subtle" href="{{ href }}">Read more&nbsp;»</a>
    </div>
  </section>
{{ end }}
</section>

<div class="list-links">
  <a class="no-ul subtle" href="post/index.html">Older posts&nbsp;»</a>
  <a class="no-ul subtle" href="categories/index.html">Categories&nbsp;»</a>
</div>

{{ copyright }}
