{{ include "base.html" }}

{{ define body }}
<!-- TODO not div -->
<div class="blog-title">
  {{ if home_url }}
  <a class="no-ul" href="{{ . }}">MK</a>
  {{ else }}
  MK
  {{ end }}
</div>

<section>
{{ range posts }}
  <section class="summary">
    <span class="post-meta">{{ date }}</span>
    <h1 class="post-title"><a class="no-ul" href="{{ href }}">{{ title }}</a></h1>
    {{ excerpt }}
    <div class="read-more-link">
      <a class="no-ul subtle" href="{{ href }}">Read more&nbsp;»</a>
    </div>
  </section>
{{ end }}
</section>

<div class="list-links">
  <a class="no-ul subtle" href="{{ archive_url }}">Older posts&nbsp;»</a>
  <a class="no-ul subtle" href="{{ categories_url }}">Categories&nbsp;»</a>
</div>

{{ include "copyright.html" }}
{{ end }}
