{{ include "base.html" }}

{{ define body }}
<header class="list-header">
  <a class="no-ul subtle" href="{{ blog_url }}">«&nbsp;Back to blog</a>
  <h1>{{ title }}</h1>
</header>

<section>
  {{ range groups }}
  <section class="post-group">
    <h2>{{ name }}</h2>
    <ul>
      {{ range pages }}
      <li class="post-li">
        <a class="no-ul" href="{{ href }}">{{ title }}</a>
        <span class="post-meta">({{ date }})</span>
      </li>
      {{ end }}
    </ul>
  </section>
  {{ end }}
</section>
<div class="after-posts"></div>

{{ include "copyright.html" }}
{{ end }}
