{% extends "base.html.j2" %}
{% block body %}
<header>
  {% include "partial_pagenav.html.j2" %}
</header>
<article>
  <span class="post-meta">{{ date }}</span>
  <h2 class="post-title">{{ title }}</h2>
  <h3 class="post-description">{{ description }}</h3>
  {{ content }}
</article>
<footer>
  {% include "partial_pagenav.html.j2" %}
</footer>
{% endblock %}
